.nav {
  padding: 129px;
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex; 
  justify-content: space-between;
  background-color: #0e0e0e;
}

.nav-logo {
  height: 69px;
  width: 173px;
}

.nav-list {
  
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}

li {
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.704);
}

.selected-page {
  color: #61dafb;
}
a:hover{
  color: #61dafb;
}

.body {
  height: 100vh;
  background-color: #0e0e0e;
}
