@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

* {
background-color: #0e0e0e;
}
.nav {
  padding: 129px;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 0px;
  font-family: 'Poppins', sans-serif;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 786px) {
    flex-direction: column;
  }

}


.nav-logo {
  height: 69px;
  width: 173px;
}


ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  @media screen and (max-width: 786px) {
    flex-direction: column;
  }
}

li {
  padding-left: 100px;
  padding-right: 100px;
  font-family: "Poppins";
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.704);
}

.selected-page {
  color: #56C7CF;
}
a:hover{
  color: #61dafb;
}

.body {
  font-family: 'Poppins', sans-serif;
  margin-top: 0vh;
  height: 75vh;
  margin: 96px;
  margin-top: 0px;
}

.title {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-right: 0%;
  width: 70%;
  height: 100%;
}

.title2 {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-left: 0%;
  padding-top: 5%;
  width: 70%;
  height: 70%;
}

.slogan {
  font-family: "Poppins";
  font-size: 52px;
  display: flex;
  align-items: center;
  height: 10%;
  background-color: rgba(255, 255, 255, 0);

  @media only screen and (max-width: 786px) {
    font-size: 36px;
    
  }
}

h1 {
  color: #FF48B6;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 0px;
  background-color: rgba(255, 255, 255, 0);
}

.titletxt {
  color: #56C7CF;
  padding: 0px;
  font-size: 36px;
  padding-bottom: 0px;
  background-color: rgba(255, 255, 255, 0);
  @media only screen and (max-width: 786px) {
    font-size: 24px;
    
  }
}

.model{
  height: 100%;
}

.info {
  margin-top: 5%;
  color: #ffffffc2;
  font-size: 24px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  flex-direction: column;
  
  
  @media only screen and (max-width: 786px) {
    height: 30%;
    font-size: 18px;
  }

}

.info>p {
  margin: 0%;
}

.section1 {
  display: flex;
  margin-top: 6%;
  width: 100%;
  height: 100%;
  align-items: center;
  @media only screen and (max-width: 786px) {
    flex-direction: column;
    
  }
}


.Image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section2 {  
  width: 100%;
  height: auto;
  margin-top: 20px;
}

.spline-logo{
  width: 160%;
  background-color: #ffffff02;  
  @media only screen and (max-width: 786px) {
    display: none;
    
  }
}

@keyframes updown {
  0%   {transform: translateY(0px);}
  25%  {transform: translateY(5px);}
  50%  {transform: translateY(0px);}
  75%  {transform: translateY(5px);}
  100% {transform: translateY(0px);}
}

.downarrow {
  color: #FF48B6;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8%;
  padding-top: 2%;
  animation: updown infinite 1.5s;
  overflow-x: hidden;
  overflow-y: hidden;
}

span {
  font-weight: bold;
  color:#56C7CF;
}

.getstarted {
  display: flex;
  justify-content: center;
  padding-top: 4%;

  @media only screen and (max-width: 786px) {
    font-size: 18px;
  }

}

.steps {
  padding-top: 4%;
  display: flex; 
  justify-content: center;
  @media only screen and (max-width: 786px) {
    width: 600px;
    
  }
}

.step {
  display: flex;
  flex-direction: column;

  @media only screen and (max-width: 786px) {
    
  }
}

.steps-img {
  max-width: auto;
  display: flex;
  justify-content: center;
  height: 4000px;
}

.stepssImag {
  height: 50px;
  @media only screen and (max-width: 786px) {
    display: none;
    
  }
  /* object-fit: scale-down; */
}

.border {
  height: 5px;
  background: linear-gradient(0.25turn, #56C7CF, #FF48B6);
  margin-top: 50px;
  margin-bottom: 50px;
}

.actBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footerinfo {
  color: #ffffffc2;
  font-size: 14px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
  
}
.footerinfo-2 {
  color: #ffffff40;
  font-size: 14px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 0%;
}

.footer-contents {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
  border-bottom: 20px;
  padding-bottom: 50px;
  
}

.links {
  color: rgba(255, 255, 255, 0.754);
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.step {
  margin-left: 40px;
  padding-bottom: 20px;
}

#step3 {
  padding-top: 80px;
}
#step4 {
  padding-top: 50px;
}
#step5 {
  padding-top: 160px;
}
#step6 {
  padding-top: 100px;
}

.descp {
  color: white;
  font-family: 'Poppins';
}

.cards {

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0px;
}

.card {
  height: 250px;
  width: 250px;
  background-color: #56C7CF;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  border-radius: 20px
}
.card-pink {
  height: 250px;
  width: 250px;
  background-color: #FF48B6;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins";
  border-radius: 20px
}

.card-smltxt {
  background-color: #56C7CF;
  margin: 0px;
}
.card-bigtxt {
  background-color: #56C7CF;
  font-size: 56px;
  margin: 0px;
}
.card-smltxt-pink {
  background-color: #FF48B6;
  margin: 0px;
}
.card-bigtxt-pink {
  background-color: #FF48B6;
  font-size: 56px;
  margin: 0px;
}

.btn {
  background-color: #56C7CF;
  height: 70px;
  width: 300px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:40px;
  margin-bottom:40px;
}

#btn-txt {
  color: black;
  font-family: "poppins";
  font-size: 24px;
}